<div class="card shadow border-0">
  <div class="card-body">
    <form [formGroup]="citaForm" (ngSubmit)="onAgendar()">
      <div class="mb-3">
        <label class="form-label">Selecciona tu Mascota</label>
        <select formControlName="mascota_id" class="form-select">
          <option *ngFor="let m of misMascotas" [value]="m.id">{{ m.nombre }}</option>
        </select>
      </div>
      
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">Fecha</label>
          <input type="date" formControlName="fecha" class="form-control">
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label">Hora</label>
          <input type="time" formControlName="hora" class="form-control">
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Tipo de Consulta</label>
        <select formControlName="tipo_consulta" class="form-select">
          <option *ngFor="let tipo of tiposConsulta" [value]="tipo">{{ tipo }}</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary w-100">Solicitar Cita</button>
    </form>
  </div>
</div>